page-login {
    text-align: center;
    .btSignup {
        margin-top: -40px;
    }
    .login{
        width: 200px;
    }
    .signup{
        width: 200px;
    }
    .input{
        margin-right:25px ;
        margin-left: 25px;
    }
}